html, body, #root {
    height: 100%;
    overflow: hidden;
    font-size: 16px;
}

body {
    margin: 0px;
}

#root {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: grid;
}

.nav {
    box-shadow: 0 0 8px #ccc;
    display: flex;
    align-self: self-start;
    padding: 10px;
} 

.nav-list {
    display: flex;
    padding-left: 0;
}

.nav-list-end {
    display: flex;
    padding-left: 0;
    margin-left: auto;
}

.nav-item {
    margin: 10px;
    padding: 5px;
    list-style-type: none;
    border: none;
    border-radius: 5px;
}

.nav-item:hover {
    box-shadow: 0 0 8px #006eff;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer {
    box-shadow: 0 0 8px #ccc;
    align-self: self-end;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
}

.form {
    width: clamp(15%, 35%, 35%);
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
    box-shadow: 0 0 8px #ccc;
}

.form h2 {
    padding: 5px;
    text-align: center;
    color: #252525;
}

.form fieldset{
    border: none;
    padding: 10px;
    margin-bottom: 5px;
}

.form label {
    display: block;
    font-weight: 600;
    margin-bottom: 5px;
}

.form input {
    display: block;
    box-sizing: border-box;
    width: 100%;
    border: 1px solid #000;
    border-radius: 5px;
    padding: 5px;
}

.form input:hover {
    border: 1px solid #006eff;
}

.submit-button {
    display: block;
    width: 100%;
    background-color: #006eff;
    border: none;
    border-radius: 10px;
    color: #fff;
}

.submit-button:hover {
    background-color: #014caf;
}

.error-message {
    text-align: center;
    border: none;
    border-radius: 10px;
    padding: 10px;
    background-color: #ff00006c;
}

.table-container {
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 8px #ccc;
    width: clamp(25%, 50%, 50%);
}

.table-container h2 {
    border-bottom: 1px solid #000;
    text-align: center;
    color: #252525;
    margin: 10px;
    padding: 5px;
}

.table-container table {
    width: 100%;
    padding: 10px;
    margin: 10px;
    border-collapse: collapse;
}

.table-container thead {
    padding: 10px;
    margin-bottom: 10px;
}

.table-container thead tr th{
    padding: 10px;
    text-align: center;
}

.table-container tbody tr td {
    padding: 10px;
    text-align: center;
}

.selectable-row:hover {
    background-color: #c0c0c0;
}

.multi-button-container {
    display: flex;
    justify-content: space-evenly;
    margin: 10px;
}

.multi-button-container .submit-button {
    margin: 5px;
}

.mark-completed-button {
    width: 20px;
    height: 20px;
}


