.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50vw;
}

.form-container {
    justify-content: center;
    align-items: center;
}

.custom-table {
    background-color: #fff;
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 8px #8f8f8f;
    border-collapse: collapse;
}

.custom-table th {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
}

.custom-table th {
    margin: 10px;
}

.custom-form {
    background-color: #fff;
    width: 100%;
    max-width: 500px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 8px #8f8f8f;
}

.custom-form h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

.custom-form fieldset {
    justify-content: left;
    text-align: left;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
}

.custom-form fieldset label {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
    color: #333;
    display: block;
}

.custom-form fieldset input {
    width: 100%;
    padding: 10px;
    border: 1px, solid, #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
}

.custom-form input:focus, .custom-form textarea:focus {
    outline: 1px solid #007bff;
}

.submit-button {
    margin-bottom: 5px;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submit-button:hover {
    background-color: #0056b3;
}

.custom-form a {
    margin-top: 5px;
    font-size: 16px;
    color: #333;
}

.custom-form a:hover {
    color: #000;
}
